.payment {
    width: 100%;
    margin-top: 3px;
    min-height: 577px;
    background: #F4F7FD;
}

.tolov {
    width: 400px;
    height: 440px;
    background: #fff;
    margin-left: 35%;
    margin-top: 15px;
    border-radius: 15px;
    padding: 2% 2%;
}

.tolov h3 {
    margin-top: 30px;
    color: gray;
    font-size: 18px;
}

.tolov input {
    width: 100%;
    margin-top: 30px;
    height: 40px;
    text-indent: 12px;
    font-size: 17px;
    border: 2.5px solid #C2C6D1;
    border-radius: 10px;
}

.tolov button {
    width: 120px;
    height: 38px;
    background: #008DFF;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.tolov p {
    margin-top: 13px;
    font-size: 14px;
    color: gray;
}

@media screen and (max-width:850px) {
    .tolov {
        margin-left: 25%;
    }
}

@media screen and (max-width: 600px) {
    .tolov {
        margin-left: 17%;

    }
}

@media screen and (max-width: 500px) {
    .tolov {
        margin-left: 10%;

    }
}