.products {
    width: 100%;
    min-height: 70vh;
    /* margin-top: 50px; */
    background: #F4F7FD;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0 6%;
}



.pro__card {
    width: 275px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    height: 400px;
    /* margin-top: 40px; */
    position: relative;
}



.pro__card-title {
    height: 35px;
    overflow: hidden;
    margin-top: -20px;
    margin-left: 10px;
}

.pro__image {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;

}

.pro__image img {
    width: 70%;
    height: 70%;
    margin-top: 20px;
    margin-left: 0px;
    object-fit: contain;
    transition: .3s;
    margin-left: 35px;
}


.pro__image svg {
    position: absolute;
    top: 50px;
    right: 12px;
    font-size: 30px;
    color: #999;
}

.pro__body {
    padding: 10px;
    font-size: 14px;
}

.pro__card-monthly {
    display: inline-block;
    margin: 10px 0 12px;
    padding: 3px;
    font-size: 12px;
    border-radius: 3px;
    color: #222;
}

.pro__card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pro__card-price del {
    color: #888;
    font-size: 12px;
}

.pro__card-shopping {

    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: blue;
    color: #fff;
    border: none;
    border-radius: 30px;
}

.pro__card-shopping svg {
    font-size: 21px;
    margin-left: 5px;
    margin-top: 5px;
}

.btn11 {
    width: 100px;
    height: 34px;
    border: none;
    border-radius: 8px;
    background: #00CD98;
    color: #fff;
    cursor: pointer;
}

.btn12 {
    width: 120px;
    height: 34px;
    border: none;
    border-radius: 8px;
    background: blue;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.pro__card-price del {
    margin-left: 10px;
}

.pro__card-price p {
    margin-left: 10px;
    margin-top: 5px;
}

.pro__card-price span {
    margin-left: 10px;
}



@media screen and (max-width:600px) {
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pro__card {
        width: auto;
    }

    .pro__image {
        height: 220px;
    }
}